<p id="notice"><%= notice %></p>

<h1>Perros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Localidad</th>
      <th>Edad</th>
      <th>Vive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perros.each do |perro| %>
      <tr>
        <td><%= perro.nombre %></td>
        <td><%= perro.direccion %></td>
        <td><%= perro.localidad %></td>Are you sure
        <td><%= perro.edad %></td>
        <td><%= perro.vive %></td>
        <td><%= link_to 'Mostrar', perro %></td>
        <td><%= link_to 'Editar', edit_perro_path(perro) %></td>
        <td><%= link_to 'Borrar', perro, method: :delete, data: { confirm: 'Esta Usted Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Perro', new_perro_path %>
