<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @perro.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @perro.direccion %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @perro.localidad %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @perro.edad %>
</p>

<p>
  <strong>Vive:</strong>
  <%= @perro.vive %>
</p>

<%= link_to 'Editar', edit_perro_path(@perro) %> |
<%= link_to 'Volver', perros_path %>
